---
layout: min
---
<!--w438 h471 -->
<div style="width:100%;height:100%">
<applet codebase="{{site.baseurl}}applets/mazegame/" code="mazegame/MazeApplet.class" archive="mazegame.jar" width=438 height=471 style="background: 0px">
Your browser does not support Java applets.
</applet>
</div>