---
layout: default
title: Battle Game
nav: battle
---
<h1>{{page.title}}</h1>

<p>
After playing with the Nibbles game and modifying it, I wanted to create my own game. So I made "Battle", a simple game in which there were enemies that moved toward you and you had a little space ship that could rotate, move and shoot a laser. I've included the Battle <a href="{{site.baseurl}}code/battle_game.bas" target="_blank">QBasic code here</a>. 
</p>

<p>
Next I started to get interested in programming in C, and that old 386 had <a href="http://en.wikipedia.org/wiki/QuickC" target="_blank">QuickC</a>. I translated most of the game into C and but I got bored and frustrated before I had it all debugged and working will. Here's my <a href="{{site.baseurl}}code/battle_old_quickc.c" target="_blank">old Battle game QuickC translation</a>.
</p>

<p>
More recently (October 2012), I thought it would be cool to get the C code working again. I was using functions from QuickC's graphics library which are non-standard and no longer supported in Windows.
</p>

<p>
So to be able to run the code, I created a modified header and library,
<a href="https://code.google.com/p/battle-game-draffensperger/source/browse/graph_win.h" target="_blank">graph_win.h</a> and <a href="https://code.google.com/p/battle-game-draffensperger/source/browse/graph_win.c" target="_blank">graph_win.c</a> that implemented the functions I needed with the Windows Console API. I also <a href="https://code.google.com/p/battle-game-draffensperger/source/browse/battle_win.c" target="_blank">modified the battle.c code</a> to fix some bugs, use Sleep instead of busy-waiting and simplify the game slightly. It still has issues as is, but it's fun to me to get some old code working from before I went to high school (before 1998).
</p>

<p>
If you want to take it for a spin, you can <a href="https://code.google.com/p/battle-game-draffensperger/downloads/detail?name=battle_win.exe" target="_blank">download the windows executable of the game</a>. Here's a screenshot of it:

<img src="{{site.baseurl}}img/battle_screenshot.png">
</p>