---
layout: default
title: MakeWave
nav: makewave
---
<h1>{{page.title}}</h1>

<p>
In high school, my brother <a href="http://peter.raffensperger.org">Peter Raffensperger</a> and I wanted to play with synthesized sounds based on combinations of simple pure tones. We created an Excel spreadsheet which calculated the tones and then made a macro to save those to a text file. Then we had a simple C program that would encode the numbers in the text file into a .wav file we could play to see how the tones sounded.
</p>

<p>
Here's <a href="https://github.com/draffensperger/makewaev" target="_blank">the code for the .wav file encoded on GitHub</a>.
</p>

<p>
This is a screenshot of the spreadsheet to give you an idea of how it worked: <img src="/img/makewave_excel.png">
</p>

<p>
Here's the spreadsheet (without the formulas copied down): <a href="/media/soundmaker.xls">soundmaker.xls</a>; it has macros which we used to create the text file and call the wave encoder, so be aware that Excel will warn you about that.</p>

<p>You can check out a couple of the sounds we made: <a href="/media/sound50.wav">sound50.wav</a>, <a href="/media/sound220.wav">sound220.wav</a>, <a href="/media/sound440.wav">sound440.wav</a>, and <a href="/media/sound880.wav">sound880.wav</a>.
</p>