---
layout: default
title: Mazegame
nav: mazegame
---
<h1>{{page.title}}</h1>

<p>Later in my high school years, probably in 2000 or '01, I got into programming in Java, a fairly new language at the time with a lot of people excited about it. I had played the <a href="http://en.wikipedia.org/wiki/King's_Quest">KingsQuest games</a> as a kid and remembered times where you navigated your character through a maze by clicking on doors and sometimes picking up items.</p>

<p>I created a basic game where you walked through a maze by clicking on doors and you picked up colored keys to help you along the way. The intro screen betrays my love for Legos as a kid as well. You can <a href="https://bitbucket.org/draffensperger/mazegame/src" target="_blank">view the source code here</a>.</p>

<p>I also started on a maze editor, which worked on some level but wasn&apos;t very user-friendly. <a href="https://bitbucket.org/draffensperger/mazeeditor/src/" target="_blank">You can see its code here.</a></p>

<script language="JavaScript">
function loadApplet() {	
	var applet_div = document.getElementById("applet_div");
	applet_div.innerHTML = '<iframe src="{{site.baseurl}}applets/mazegame" style="border: 0;width:100%;height:100%;vertical-align:middle;margin:0;padding:0" scrolling="no"></iframe>';
	return false;
}
</script>

<p>
<b>Here's a screenshot - <a href="javascript:void(0)" onclick="loadApplet();">click to load the applet</a> (you'll need to allow the browser to run Java):</b>
<br>
<center>
<div id="applet_div" align="center" style="border: solid 1px #CCC; width:438px; height:471px;margin:0;padding:0">
	<a href="javascript:void(0)" onclick="loadApplet();">
	<img src="{{site.baseurl}}img/mazegame_screenshot.jpg" style="vertical-align:middle">
	</a>
</div>
</center>
</p>