---
layout: default
title: Memorizer
nav: memorizer
---
<h1>{{page.title}}</h1>

<p>
In my senior year of college in 2007 to prepare for my one year internship with <a href="http://cru.org" target="_blank">Cru</a> in Berlin, Germany, I started learning German. In order to pratice vocabulary well, I created a PHP app to help me learn vocabulary. Here's <a href="https://bitbucket.org/draffensperger/memorizer/" target="_blank">the code for Memorizer</a>. The code is somewhat specific to learning German vocabulary for one person, though it could definitely be expanded to support multiple users and more languages. It uses the <a href="http://mary.dfki.de/" target="_blank">MARY TTS engine</a> to pronounce the German words. I noticed cases where I would make a small mistake in a long word and it would be hard for me to quickly notice what I did wrong, so I made it give me a color-coded alignment of my incorrect guess and the correct word. The alignment is calculated with the <a href="http://en.wikipedia.org/wiki/Needleman%E2%80%93Wunsch_algorithm" target="_blank">Needleman-Wunsch algorithm.</a>
</p>

<p>
<b>Screenshot (<a href="http://memorize.dave-r.com/test.php?MemorySetID=1" target="_blank">click to open the live site in a new tab/window</a>):</b>
<a href="http://memorize.dave-r.com/test.php?MemorySetID=1" target="_blank">
<img src="/img/memorizer_screenshot.jpg" style="border: 1px solid #CCC">
</a>
</p>