---
layout: default
title: Nibbles Mod
nav: nibbles
---
<h1>{{page.title}}</h1>

<p>
When I was a young kid (I think young teens, or late pre-teen), I played around with the <a href="http://en.wikipedia.org/wiki/Nibbles_(computer_game)" target="_blank">Nibbles game</a> that came free with QBasic on my family's old 386 we named "Pepper" after one of my grandfather's cats. Me, my brother and my dad added an AI player that would seek the numbers and avoid walls and a "random wall" that would appear when you push the space bar. The code is copyrighted by IBM, so I've included here <a href="/code/mod_nibbles_subs.bas" target="_blank">only the new subroutines we wrote and those we significantly modified</a>.
</p>

<p>
I have read online that you can <a href="http://penguinpetes.com/b2evo/index.php?title=howto_play_with_your_old_qbasic_programs" target="_blank">emulate DOS and play with QBasic on Linux</a> but I haven't done that yet.
</p>

<p>
I later made <a href="{{site.baseurl}}battle/">my own console style game I called "Battle"</a> where you operated a little spaceship.
</p>