---
layout: default
title: S3 Quick Echo
nav: s3quickecho
---
<h1>{{page.title}}</h1>

<p>
At one point I wanted to start backing up my own personal files to Amazon S3. I looked at a few differenet tools and particularly at  <a href="http://s3tools.org/s3cmd">s3cmd tools</a>. I liked it but wanted something that would only "echo" the files locally to the server and assume the server files do not change except from the backup program, and that this is done with a minimum of bandwidth and requests to S3 (which cost money). So I made a script that uses a local cache file to track the modified dates, size and hash digest of files and uses that information to know which filse to upload to S3.
</p>

<p>
I think it would be cool to merge these ideas back into the s3cmd tools project, but that would take extra effort and having a specialized tool for this purpose may not be a bad thing.
</p>

<p>
Here's <a href="https://github.com/draffensperger/s3quickecho" target="_blank">the code on GitHub</a>.
</p>