---
layout: default
title: Snakes
nav: snakes
---
<h1>{{page.title}}</h1>

<p>In my high school years, I thought back to days as a younger teen when I <a href="{{site.baseurl}}nibbles">modified the QBasic nibbles game</a>, and I wanted to make a Java game that would capture the changes my brother, dad and I made as a kid.</p>

<p>I'm not sure when exactly I created this but probably around 2001. It originally worked as a standalone Java application, but I modified it for this website to work as an applet. One cool thing that I noticed I had used java.beans.XMLDecoder to read an XML representation of the levels. Here's a <a href="https://bitbucket.org/draffensperger/snakes/src" target="_blank">link to the code</a>.</p>

<p>It's designed for two people to compete against each other on the same keyboard (similar to the Nibbles game), one using the arrow keys and one using the AWSD keys. They both compete against an AI snake as well. You can play as one player and just let the other player crash into the wall, or maybe at some point I'll work to make it more configurable.</p>

<p>
<script language="JavaScript">
function loadApplet() {	
	var applet_iframe_div = document.getElementById("applet_iframe_div");
	applet_iframe_div.innerHTML = '<iframe src="{{site.baseurl}}applets/snakes" style="border: 0;width:100%;height:100%;vertical-align:middle;margin:0;padding:0" scrolling="no"></iframe>';
	
	var applet_container = document.getElementById("applet_container");
	applet_container.style.display = "inline";
	return false;
}

function closeApplet() {
	var applet_iframe_div = document.getElementById("applet_iframe_div");
	applet_iframe_div.innerHTML = "";
	
		var applet_container = document.getElementById("applet_container");
	applet_container.style.display = "none";
	return false;
}
</script>
<b>Here's a screenshot - <a href="javascript:void(0)" onclick="loadApplet();">click to open the applet</a> (you'll need to allow the browser to run Java):</b>
<br>

<div id="applet_container" style="position:absolute; display:none; left: 10%; top: 4%; padding: 0; border: solid 2px #777;">

<div style="width:100%;max-width:100%;background:white;">
<p style="padding:0.3em">
<b>Instructions:</b> F2 restarts. Arrows control Green Player, AWSD control Blue Player. Eat the numbers not the walls/snakes. Beat the AI.
<a href="javascript:void(0)" onclick="closeApplet();">Close applet</a>
</p>
</div>

<div id="applet_iframe_div" style="width:1000px; height:700px;"></div>

</div>

<center>
<div id="image_div" align="center" style="border: solid 1px #CCC; width:500px; height:350px;margin:0;padding:0">
	<a href="javascript:void(0)" onclick="loadApplet();">
	<img src="{{site.baseurl}}img/snakes_screenshot.jpg" style="vertical-align:middle">
	</a>
</div>
</center>
</p>