* {padding: 0; margin: 0}

body {color: #555; background:#FEFEFE; font-family: Calibri, Verdana, Arial, SunSans-Regular, Sans-Serif}

a {color: #169}
p {padding-bottom: 0.6em}
h1 {font-size: 1.3em; padding-bottom: 0.3em}

#container {width:50em; background: #FBFBFB; margin-left: auto;
  margin-right: auto; padding: 0.6em; border-top: 0px;
  border: solid 1px #EEE; }

#header {background: #E4E4E4; text-align: center; padding: 0.6em;  margin-bottom:0.6em; border: solid 1px #DDD}
#header h1 {font-size:1.6em}
#header h2 {font-size:1.2em}

#left {float:left; width:25%; max-width:25%; margin-bottom:0.6em;}
#right {float:right; width:75%; max-width:75%; margin-bottom:0.6em;}

#nav {background: #F6F6F6; padding:0.6em; border: solid 1px #DDD}
#nav ul {}
#nav li {list-style: none;}
#nav a.active {text-decoration: none; color: inherit; font-weight: bold}
#nav h1 {font-size: 1.1em; font-weight: normal; padding-bottom: 0em; padding-top: 0.6em}
#nav ul.sublist {padding-left: 0.6em}

#content {background:#FDFDFD; padding:0.6em; border: solid 1px #DDD;margin-left:0.6em;}

#footer {clear:both; border: solid 1px #DDD;padding:0.2em;}