---
layout: default
title: Tank Chase
nav: tankchase
---
<h1>{{page.title}}</h1>

<p>In my later high school (senior year, probably 2002), after I made <a href="{{site.baseurl}}mazegame">Mazegame</a> I wanted to make a different sort of game where you would control a spaceship and shoot at your opponent with missiles. So I eventually made &quot;Tank Chase&quot;.</p>
</p>

<p>I was learning from a family friend about the value of test-driving development, so for this project I created unit tests, especially to test the collision detection and bouncing for the spaceships. I also used an Ant build script. You can <a href="https://bitbucket.org/draffensperger/tankchase/src" target="_blank">view the source code here</a>.</p>

<p>At this point it's not really a complete game, but you can use the arrow keys to maneuver your ship and press space to shoot. You can blow up the other ship as well. I wrote the background music myself during a short phase of my life where I was interested in composition.</p>

<p>
<script language="JavaScript">
function loadApplet() {	
	var applet_div = document.getElementById("applet_div");
	applet_div.innerHTML = '<iframe src="{{site.baseurl}}applets/tankchase" style="border: 0;width:100%;height:100%;vertical-align:middle;margin:0;padding:0" scrolling="no"></iframe>';
	return false;
}
</script>
<b>Here's a screenshot - <a href="javascript:void(0)" onclick="loadApplet();">click to load the applet</a> (you'll need to allow the browser to run Java):</b>
<br>
<center>
<div id="applet_div" align="center" style="border: solid 1px #CCC; width:514px; height:438px;margin:0;padding:0">
	<a href="javascript:void(0)" onclick="loadApplet();">
	<img src="{{site.baseurl}}img/tankchase_screenshot.jpg" style="vertical-align:middle">
	</a>
</div>
</center>
</p>