{% for node in site.pages %}
{% if node.nav == nav_name %}
	{% if node.nav_title != nil %}
		{% assign nav_title = node.nav_title %}
	{% else %}
		{% assign nav_title = node.title %}
	{% endif %}

	{% if page.url == node.url %}
	<li class="active"><a href="{{node.url}}" class="active">	{{nav_title}}</a></li>
	{% else %}
	<li><a href="{{node.url}}">{{nav_title}}</a></li>
	{% endif %}
{% endif %}	
{% endfor %}