---
layout: min
---
<div style="width:100%;height:100%">
<applet code="SnakeApplet.class" archive="snakes.jar" width=1000 height=700 style="margin:0;padding:0;">
Your browser does not support Java applets.
</applet>
</div>