<html>
<head>
<link href="{{site.baseurl}}style.css" rel="stylesheet" type="text/css">
<title>{{page.title}}</title>
</head>
<body>
<div id="container">

<div id="header">
	<h1>David Raffensperger</h1>
	<h2>Ideas, Programs and Personal Systems</h2>
</div>

<div id="left">
	<div id="nav">
		<ul>
		{% assign nav_name='index' %}{% include nav_link.html %}
		</ul>
		
		<h1>Python</h1>
		<ul class="sublist">
		{% assign nav_name='s3quickecho' %}{% include nav_link.html %}
		</ul>
		
		<h1>PHP</h1>
		<ul class="sublist">
		{% assign nav_name='memorizer' %}{% include nav_link.html %}
		</ul>		
		
		<h1>C</h1>
		<ul class="sublist">
		{% assign nav_name='makewave' %}{% include nav_link.html %}
		{% assign nav_name='greedgame' %}{% include nav_link.html %}
		</ul>
		
		<h1>Java Applets</h1>
		<ul class="sublist">
		{% assign nav_name='mazegame' %}{% include nav_link.html %}
		{% assign nav_name='snakes' %}{% include nav_link.html %}
		{% assign nav_name='tankchase' %}{% include nav_link.html %}
		</ul>
		
		<h1>QBasic and QuickC</h1>
		<ul class="sublist">
		{% assign nav_name='nibbles' %}{% include nav_link.html %}
		{% assign nav_name='battle' %}{% include nav_link.html %}
		</ul>
	</div>
	<div>	
	</div>
</div>

<div id="right">
	<div id="content">	
	{{content}}
	</div>
</div>

<div id="footer">
&copy 2012 David Raffensperger
</div>

</div>
</body>
</html>